@model Blog.Data.Models.Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Criando um novo post";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div-- class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--div class="form-group">
                <label asp-for="Id_usuario" class="control-label"></label>
                <input asp-for="Id_usuario" class="form-control" />
                <span asp-validation-for="Id_usuario" class="text-danger"></span>
            </div-->
            

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPost" class="control-label"></label>
                <input asp-for="DataPost" class="form-control" />
                <span asp-validation-for="DataPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" value="@User.Identity?.Name" readonly />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-info" />
                <!--a asp-action="Index" class="btn btn-warning">Voltar</a-->
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Voltar</a>
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
